{{ define "manifest" }}
{{ $host := "localhost:5173" }}
{{ with (env "CODESPACES") }}
  {{ $host = printf "%s-%d.%s" (env "CODESPACE_NAME") 5173 (env "GITHUB_CODESPACES_PORT_FORWARDING_DOMAIN") }}
{{ end }}
  <script
    type="module"
    src="http://{{ $host }}/js/app.js"
  ></script>
  <link href="http://{{ $host }}/css/app.css" rel="stylesheet" />
{{ end }}
