/* The form element is suitable for <input> as well as <select> elements. */
input[type="text"],
input[type="number"],
select,
textarea {
  @apply block w-full rounded-md border-neutral-300 shadow-sm;
  @apply focus:border-accent-500 focus:ring-accent-500;

  /* We limit the maximum width to some sane defaults, so inputs don't span the full width. */
  @apply max-w-lg sm:max-w-xs;

  /* On larger screens we reduce the font size a bit, so the text doesn't confront the user too much. */
  @apply sm:text-sm;

  /* Disabled form elements are neutral. */
  @apply disabled:bg-neutral-100 disabled:text-neutral-700;

  &[aria-invalid] {
    @apply border-red-300 text-red-900 placeholder-red-400 focus:border-red-500 focus:ring-red-500;
  }
}
.input-element--full-width {
  @apply !max-w-none;
}

label {
  @apply mt-4 mb-px block text-sm font-medium text-neutral-700 sm:mt-px;
}

.input-element__note {
  @apply grid gap-3;
  grid-template-columns: 1rem 1fr;

  /* We limit the maximum width to some sane defaults, so inputs don't span the full width. */
  @apply max-w-lg sm:max-w-xs;

  @apply mt-1 text-xs leading-relaxed text-neutral-500;

  svg {
    @apply h-4;
  }
}
