{{ define "base" }}
	<!DOCTYPE html>
	<html lang="de">
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width,initial-scale=1.0" />
			<title>{{- template "title" . }} | Mahlzeit</title>
			{{ template "manifest" }}
		</head>
		<body>
			<header class="bg-neutral-100 pt-12 pb-8">
				<div class="page-header container mx-auto">
					{{ block "header" . }}
						<h1>{{ template "title" . }}</h1>
					{{ end }}
				</div>
			</header>
			<main class="container mx-auto py-12">
				{{ template "main" . }}
			</main>
		</body>
	</html>
{{ end }}
