{{define "base"}}
<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0">
    <title>Mahlzeit</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <script src="https://unpkg.com/htmx.org@1.8.5" defer></script>
</head>
<body>
<main>
    {{ template "main" . }}
</main>
</body>
</html>
{{ end }}
