{{ define "main" }}
    <header>
        <h1>Rezept bearbeiten</h1>
        <form method="post">
            <div>
                <label for="recipe_name">Name:</label>
                <input id="recipe_name" name="Name" type="text" required value="{{.Name}}">
            </div>
            <div>
                <label for="servings">Portionen:</label>
                <input id="servings" name="Servings" type="number" required value="{{.Servings}}" min="1">
            </div>
            <div>
                <label for="servings_description">Portionen:</label>
                <input id="servings_description" name="ServingsDescription" type="text"
                       value="{{.ServingsDescription}}">
            </div>
            <div>
                <label for="description">Zusammenfassung</label>
                <textarea rows="5" id="description" name="Description">
                    {{- .Description -}}
                </textarea>
            </div>
            <button type="submit">Änderungen speichern</button>
        </form>
        <h2>Schritte</h2>
        <div id="steps">
            {{ range .Steps }}
                {{ template "single_step" . }}
            {{ end }}
        </div>
        <button type="button" data-hx-post="./edit/add_step" data-hx-swap="beforeend" data-hx-target="#steps">Schritt
            hinzufügen
        </button>
    </header>
{{ end }}

{{ define "single_step" }}
    <form method="post"
          action="/recipes/{{ .RecipeID }}/steps/{{ .ID }}">
        <input type="hidden" name="step_id" value="{{ .ID }}">
        <label for="step-{{ .ID }}-instruction">Anweisung</label>
        <textarea rows="3" name="instruction" id="step-{{ .ID }}-instruction">
            {{- .Instruction -}}
        </textarea>

        <section>
            <h4>Zutaten</h4>
            <ul id="step-{{.ID}}-ingredients">
                {{ range .Ingredients }}
                    {{ template "ingredient" . }}
                {{ end }}
            </ul>
            <button type="submit" data-hx-post="/recipes/{{ .RecipeID }}/steps/{{ .ID }}/add_ingredient"
                    data-hx-target="#step-{{.ID}}-ingredients"
                    data-hx-swap="beforeend">
                Zutat hinzufügen
            </button>
        </section>

        <label for="step-{{.ID}}-time">Zeit</label>
        <input type="text" id="step-{{.ID}}-time" name="time" value="{{.Time}}">

        <button type="submit"
                data-hx-delete="/recipes/{{.RecipeID}}/steps/{{.ID}}"
                data-hx-target="closest form"
                data-hx-confirm="Bist du sicher?"
                data-hx-swap="outerHTML">
            Löschen
        </button>
        <button type="submit"
                data-hx-post="/recipes/{{.RecipeID}}/steps/{{.ID}}"
                data-hx-target="closest form"
                data-hx-swap="outerHTML">
            Speichern
        </button>
    </form>
{{ end }}

{{ define "ingredient" }}
    <li>
        <div>
            <b>{{ .Name }}</b>
            <p>Menge: {{ .Amount }}</p>
            {{ with .Note }}
                <p>Notiz: {{ . }}</p>
            {{ end }}
            <button data-hx-delete="/recipes/{{.RecipeID}}/steps/{{ .StepID }}/ingredients/{{ .ID }}"
                    data-hx-target="closest li"
                    data-hx-swap="outerHTML">
                Löschen
            </button>
        </div>
    </li>
{{ end }}

{{ define "new_ingredient" }}
    <li>
        <form action="/recipes/{{ .RecipeID }}/steps/{{ .StepID }}/ingredients"
              data-hx-boost="true"
              data-hx-swap="outerHTML"
              data-hx-target="closest li"
              method="post">
            <!-- todo: add unique labels -->
            <select name="Ingredient" required>
                {{ range .Ingredients }}
                    <option value="{{ .ID }}">{{ .Name }}</option>
                {{ end }}
            </select>

            <label>Menge</label>
            <input name="Amount" type="number" min="0" required>

            <label>Einheit</label>
            <select name="Unit">
                <option value="0">(ohne Einheit)</option>
                {{ range .Units }}
                    <option value="{{ .ID }}">{{ .Name }}</option>
                {{ end }}
            </select>

            <label>Notiz</label>
            <input type="text" name="Note" maxlength="100">

            <button type="submit">Speichern</button>
        </form>
    </li>
{{ end }}
