{{ define "main" }}
    <header>
        <h1>Rezept bearbeiten</h1>
        <form method="post">
            <div>
                <label for="recipe_name">Name:</label>
                <input id="recipe_name" name="Name" type="text" required value="{{.Name}}">
            </div>
            <div>
                <label for="servings">Portionen:</label>
                <input id="servings" name="Servings" type="number" required value="{{.Servings}}" min="1">
            </div>
            <div>
                <label for="description">Zusammenfassung</label>
                <textarea rows="5" id="description" name="Description">
                    {{- .Description -}}
                </textarea>
            </div>
            <button type="submit">Änderungen speichern</button>
        </form>
        <h2>Schritte</h2>
        <div id="steps">
            {{ range .Steps }}
                {{ template "single_step" . }}
            {{ end }}
        </div>
        <button type="button" data-hx-post="./edit/add_step" data-hx-swap="beforeend" data-hx-target="#steps">Schritt
            hinzufügen
        </button>
    </header>
{{ end }}

{{ define "single_step" }}
    <form method="post"
          action="/recipes/{{ .RecipeID }}/steps/{{ .ID }}">
        <input type="hidden" name="step_id" value="{{ .ID }}">
        <label for="step-{{ .ID }}-instruction">Anweisung</label>
        <textarea rows="3" name="instruction" id="step-{{ .ID }}-instruction">
            {{- .Instruction -}}
        </textarea>

        <label for="step-{{.ID}}-time">Zeit</label>
        <input type="text" id="step-{{.ID}}-time" name="time" value="{{.Time}}">

        <button type="submit"
                data-hx-delete="/recipes/{{.RecipeID}}/steps/{{.ID}}"
                data-hx-target="closest form"
                data-hx-confirm="Bist du sicher?"
                data-hx-swap="outerHTML">
            Löschen
        </button>
        <button type="submit"
                data-hx-post="/recipes/{{.RecipeID}}/steps/{{.ID}}"
                data-hx-target="closest form"
                data-hx-swap="outerHTML">
            Speichern
        </button>
    </form>
{{ end }}
