{{ define "main" }}
    <h1>Liste aller Rezepte</h1>
    <ul>
        {{ range . }}
            <li>
                <a href="/recipes/{{ .ID }}">
                    {{ .Name }}
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}
