{{ define "title" }}Liste aller Rezepte{{ end }}

{{ define "main" }}
	<ul class="list-inside list-disc">
		{{ range . }}
			<li>
				<a href="/recipes/{{ .ID }}">
					{{ .Name }}
				</a>
			</li>
		{{ end }}
	</ul>
{{ end }}
