{{ define "main" }}
    <header>
        <h1>{{ .Name }}</h1>
        <p>erstellt am:
            <time>{{ .CreatedAt }}</time>
        </p>
        <div>
            <label for="servings_number">Portionen:</label>
            <form method="get">
                <input id="servings_number" name="servings" type="number" value="{{ .Servings}}" min="1"
                       data-hx-get
                       data-hx-target="body"
                       placeholder="Anzahl der Portionen">
                <button>Berechnen</button>
            </form>
        </div>
        <a href="/recipes/{{ .ID }}/edit">Bearbeiten</a>
    </header>
    <aside>
        <h2>Zutaten</h2>
        <ul>
            {{ range .Ingredients }}
                <li>{{ round .Amount 2 }} {{ .Name }}</li>
            {{ end }}
        </ul>
    </aside>
    <main>
        <section>
            <h2>Beschreibung</h2>
            {{ .Description }}
        </section>

        <section>
            <h2>Zubereitung</h2>
            {{ range $idx, $step := .Steps }}
                <h3>Schritt {{ add $idx 1 }}
                    {{ with .Time }}
                        (dauert:
                        <time> {{ . }}</time>)
                    {{ end }}
                </h3>
                {{ if (gt (len .Ingredients) 0) }}
                    <div>
                        Zutaten:
                        <ul>
                            {{ range .Ingredients }}
                                <li>{{ round .Amount 2 }} {{ .Name }} ({{ .Note }})</li>
                            {{ end }}
                        </ul>
                    </div>
                {{ end }}
                <p>{{ .Instruction }}</p>
            {{ end }}
        </section>
    </main>
{{ end }}
