{{ define "title" }}{{ .Name }}{{ end }}

{{ define "header" }}
	<div class="recipe-header">
		<div class="recipe-header__inner">
			<div>
				<h1>{{ .Name }}</h1>

				<p class="recipe-time-information">
					erstellt am:
					<time>{{ .CreatedAt | date "02.01.2006" }}</time>
				</p>
			</div>
			<a class="btn" href="/recipes/{{ .ID }}/edit">Bearbeiten</a>
		</div>
	</div>
{{ end }}

{{ define "main" }}
	<div class="grid grid-cols-3 gap-4">
		<aside>
			<section>
				<h2 class="mb-2 text-xl font-semibold">Portionen</h2>

				<div class="flex flex-row items-center gap-2">
					<form method="get">
						<label for="servings_number" class="sr-only"
							>{{ default "Portionen" .ServingsDescription }}:</label
						>
						<input
							id="servings_number"
							name="servings"
							type="number"
							value="{{ .Servings }}"
							min="1"
							hx-get
							hx-target="body"
							placeholder="Anzahl der Portionen"
						/>
					</form>
					<span>{{ .ServingsDescription }}</span>
				</div>
			</section>
			<section class="mt-8">
				<h2 class="mb-2 text-xl font-semibold">Zutaten</h2>
				<ul class="list-disc">
					{{ range .Ingredients }}
						<li>{{ round .Amount 2 }} {{ .UnitName }} {{ .Name }}</li>
					{{ end }}
				</ul>
			</section>
		</aside>
		<main class="col-span-2">
			<section>
				<h2 class="sr-only">Beschreibung</h2>
				<p class="text-lg italic leading-relaxed">
					{{ .Description }}
				</p>
			</section>

			<section class="mt-8">
				<h2 class="mb-2 text-xl font-semibold">Zubereitung</h2>
				<ol class="list-decimal">
					{{ range .Steps }}
						<li class="py-4 odd:border-y">
							{{ with .Time }}
								<div
									class="mb-1 flex flex-row items-center text-sm text-neutral-600"
								>
									{{ icon "clock" }}
									<span class="sr-only">Zeit:</span>
									<time class="ml-1"> {{ . }}</time>
								</div>
							{{ end }}
							{{ with .Ingredients }}
								<div class="mb-6">
									<p class="text-sm font-semibold">Zutaten:</p>
									<ul class="text-sm text-neutral-600">
										{{ range . }}
											<li>
												{{ round .Amount 2 }}
												{{ .UnitName }}
												{{ .Name }}
												{{ with .Note }}({{ . }}){{ end }}
											</li>
										{{ end }}
									</ul>
								</div>
							{{ end }}
							<p class="mt-2">{{ .Instruction }}</p>
						</li>
					{{ end }}
				</ol>
			</section>
		</main>
	</div>
{{ end }}
